html{
  font-family: 'Open Sans', 'Roboto', 'Helvetica Neue', sans-serif;
  color: $c-3;
}

@mixin sectionHeading{
  font-size: $unitRem*3;
  font-weight: 600;
  color: $c-3;
}

@mixin itemHeading{
  font-size: $unitRem*2.5;
  font-weight: 600;
}